@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

html{
    background: radial-gradient(ellipse farthest-corner at center center, #2BCFCF 0%, #4F57CF 100%);
    background-size: cover;    
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 250px;
    height:80px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #6f75c7;
    border-color: #6f75c7;
    color: rgb(240, 228, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    box-shadow: 2px 2px 8px rgb(103, 1, 255);
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .desktop{
        display: none;
    }

    #quote{
        font-family: "Great Vibes";
        color: white;
        font-weight: 500;
        font-size: 2rem;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #author{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 1rem;
        text-shadow: 1px 1.5px #6443f9;
    }

    #by{
        font-family:"cursive";
        color:#4F57CF;
    }
    
}

@media screen and (min-width: 601px) {
    #phone{
        display: none;
    }

    #myquote{
        font-family: "Great Vibes";
        font-size: 4rem;
        color: white;
        font-weight: 500;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    #myauthor{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
        color: white;
        text-shadow: 1px 1.5px #6443f9;
    }  
    
    #by{
        font-family:"cursive";
        color:#4F57CF;
    }
}
